<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987703771334-6cug15412fp0pkcng2bvpq03ud6jg3em.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987703771334-6cug15412fp0pkcng2bvpq03ud6jg3em</string>
	<key>API_KEY</key>
	<string>AIzaSyCkyuLu7B09GGMPUQjtUAPND4QOF254NZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>987703771334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>StanislavBelykh.VK-GeekBrains</string>
	<key>PROJECT_ID</key>
	<string>vkgeekbrains</string>
	<key>STORAGE_BUCKET</key>
	<string>vkgeekbrains.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987703771334:ios:d1f77b2b13ed4ab51317c7</string>
	<key>DATABASE_URL</key>
	<string>https://vkgeekbrains.firebaseio.com</string>
</dict>
</plist>